{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Animated Login Form</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="{% static 'customer\css\login.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <img class="wave" src="{% static 'customer/img/wave.png' %}">
    <div class="container">
        <div class="img">
            <img src="{% static 'customer/img/bg.svg'%}">
        </div>
        <div class="login-content">
            <form method="POST" action="{% url 'customer-login' %}" name="loginForm">

                {% csrf_token %}

                <img src="{% static 'customer/img/avatar.svg' %}">
                <h2 class="title">Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" name="username" class="input">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" name="password" class="input">
                    </div>
                </div>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="Login">
            </form>

            <div class="msgDiv">
                {% for message in messages %}
                <h3> {{ message }} </h3>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        const inputs = document.querySelectorAll(".input");


        function addcl() {
            let parent = this.parentNode.parentNode;
            parent.classList.add("focus");
        }

        function remcl() {
            let parent = this.parentNode.parentNode;
            if (this.value == "") {
                parent.classList.remove("focus");
            }
        }


        inputs.forEach(input => {
            input.addEventListener("focus", addcl);
            input.addEventListener("blur", remcl);
        });
    </script>
</body>

</html>